html {
    font-family: "Times  New Roman",serif,monospace;
    /* we add another font so if the browser does not support the first font it will use the second*/
}

body {
    /* background-image: url(test.png) ; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: #444;
}

h1,h2,h3 {
    color: #ffffff;
    line-height: 1rem;
}





.borderImg {
    border-left: 20px dashed greenyellow;
}


ul li {
    color:brown;
    font-size: 50px;
}

ul > li {
    color :blue;
}
