body {
    background-image: url(test.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
/*    background: linear-gradient(to left,#abc123,#321cba);
    box-shadow: 10px -30px 5px green;
*/
}
/*grouping*/
h1,h2,h3 {
    color: #abc457;
    text-shadow: 3px 2px white;
    line-height: 1rem;
    font-family: Gill Sans;
}



.borderImg {
    border-left: 20px dashed greenyellow;
}
/*descendent ul is parent and li is child*/
ul li {
    color:brown;
    font-size: 50px;
}
/*child selector this shows only the first decendent child one level deep inherit*/
ul > li {
    color :blue;
}